@font-face {
  font-family: 'Iran';
  font-weight: 100;
  font-style: normal;
  src: url("assets/Font/iranyekanweblightfanum.woff");
}
@font-face {
  font-family: 'Iran';
  font-weight: 300;
  font-style: normal;
  src: url("assets/Font/iranyekanwebthinfanum.woff");
}
@font-face {
  font-family: 'Iran';
  font-weight: 400;
  font-style: normal;
  src: url("assets/Font/iranyekanwebregularfanum.woff");
}
@font-face {
  font-family: 'Iran';
  font-weight: 500;
  font-style: normal;
  src: url("assets/Font/iranyekanwebmediumfanum.woff");
}
@font-face {
  font-family: 'Iran';
  font-weight: 600;
  font-style: normal;
  src: url("assets/Font/iranyekanwebboldfanum.woff");
}
@font-face {
  font-family: 'Iran';
  font-weight: 800;
  font-style: normal;
  src: url("assets/Font/iranyekanwebextraboldfanum.woff");
}
@font-face {
  font-family: 'Iran';
  font-weight: 900;
  font-style: normal;
  src: url("assets/Font/iranyekanwebblackfanum.woff");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C1C22;
  list-style: none !important;
  color: #fff;
  text-decoration: none !important;
  font-family: "Iran" !important;
}
*{
  font-family: "Iran" !important;
  text-decoration: none !important;

}